.box-container {
    background-color: aliceblue;
    max-width: 30%;
    margin: 0 auto;
    padding: 2.5rem;
    border-radius: 1rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}